

.timeline-wrapper {
  position: relative;
  overflow: hidden;
}
.timebg-1 {
  background: linear-gradient(91deg, rgba(4, 16, 15, 0.75) 0.91%, rgba(0, 149, 71, 0.75) 192.09%);
  backdrop-filter: blur(25px);
}
.timebg-2 {
  background: linear-gradient(91deg, rgba(0, 149, 71, 0.75) 0.84%, rgba(4, 16, 15, 0.75) 99.16%);
  backdrop-filter: blur(25px);
}
/* Center vertical line */
.timeline-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 78%;
    width: 2px;
    background: #00ff99;
    transform: translateX(-50%);
}

/* Timeline item structure */
.timeline-item {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.timeline-item .content {
  max-width: 300px;
  padding: 20px;
}
.timeline-item .content p{
  color: #30FF93;
  font-size: 16px;  
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  background: #00ff99;
  border-radius: 50%;
  border: 2px solid #003f2f;
  z-index: 1;
}

/* Left item */
.timeline-item.left .content {
  position: relative;
  margin-left: 0;
  margin-right: auto;
}

.timeline-item.left::after {
  left: 50%;
  transform: translateX(-50%);
}

/* Right item */
.timeline-item.right .content {
  position: relative;
  margin-right: 0;
  margin-left: auto;
}

.timeline-item.right::after {
  left: 50%;
  transform: translateX(-50%);
}

/* Responsive fix */
@media (max-width: 768px) {
  .timeline-item .content {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
  }

  .timeline-item.left::after,
  .timeline-item.right::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
