.logo {
    margin-bottom: 50px !important;
    margin-left: 30px;
}

.hero_image {
    position: relative;

    p {
        color: #00ff99;
    }
}

.social_icon {
    position: absolute;
    left: 25px;
    top: 35%;
}

.social_icon a {
    width: 45px;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 15px;
}