/* About Section Styles */

.slide-panel {
  p {
    font-size: 16px;
    line-height: 1.6;
  }

  strong {
    color: #ffffff;
    font-weight: 600;
  }

  .skills_icon {
    img {
      transition: transform 0.2s ease;
      margin-right: 10px;
      max-height: 50px;
      margin-top: 10px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.light-mode {
  .slide-panel {
    strong {
      color: #111;
    }
  }
}
