
/* Career Section Styles */

.timeline-wrapper {
  position: relative;
  overflow: hidden;
}

.timebg-1 {
  background: linear-gradient(91deg, rgba(4, 16, 15, 0.75) 0.91%, rgba(0, 149, 71, 0.75) 192.09%);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 50px 10px;
}

.light-mode .timebg-1 {
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.timebg-2 {
  background: linear-gradient(91deg, rgba(0, 149, 71, 0.75) 0.84%, rgba(4, 16, 15, 0.75) 99.16%);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 50px 10px;
}

.light-mode .timebg-2 {
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

/* Center vertical line */
.timeline-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 76%;
  width: 2px;
  background: #00ff99;
  transform: translateX(-50%);
}

/* Timeline item structure */
.timeline-item {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  padding: 0 15px;
}

.timeline-item .content {
  max-width: 300px;
  padding: 20px;
}

.timeline-item .content p {
  color: #30FF93;
  font-size: 16px;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  background: #00ff99;
  border-radius: 50%;
  border: 2px solid #003f2f;
  z-index: 1;
}

.light-mode .timeline-item::after {
  background: #00ff99;
  border: 2px solid rgb(0 63 47 / 26%);
}

/* Left item */
.timeline-item.left .content {
  position: relative;
  padding-left: 40px;
  margin-right: auto;
}

.timeline-item.left::after {
  left: 50%;
  transform: translateX(-50%);
}

/* Right item */
.timeline-item.right .content {
  position: relative;
  padding-left: 40px;
  margin-left: auto;
}

.timeline-item.right::after {
  left: 50%;
  transform: translateX(-50%);
}

