/* ===================================================
   01. Variables
====================================================== */

// Color Variables
$white: #fff;
$black: #000;
$dark: #191A23;
$light: #f4f4f4;
$light2: #c0c0c0;
$primary: #30FF93;
$green: #00ff88;
$border-color: rgba(255, 255, 255, 0.2);

$bg1: #FF7448;
$bg2: #0F0264;
$bg3: #FFD028;
$bg4: #09A8DA;
$bg5: #780EFF;
$bg6: #0F0933;

// Gradient
$gradientbg: 'linear-gradient(90deg, #041110 0%, #1C7770 100%)';

// Breakpoints
$breakpoint-sm: 767px;
$breakpoint-md: 768px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;